body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(121,92,9);
  background: linear-gradient(90deg, rgba(121,92,9,1) 23%, rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}